:root
{
   --warm-sun : #ffde4a;
   --dark :#1E2121;
}

@font-face {
    font-family: "Argo";
    src: url(../fonts/ArgoFlats.ttf);
}

@font-face {
    font-family: "ArgoOld";
    src: url(../fonts/ArgoOld.ttf);
}

@font-face {
    font-family: "CL";
    src: url(../fonts/ChampagneLimousines.ttf);
}


@font-face {
    font-family: "M500";
    src: url('../fonts/Museo500.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mohave";
    src: url('../fonts/Mohave.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MohaveBold";
    src: url('../fonts/Mohave-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MohaveSemiBold";
    src: url('../fonts/Mohave-SemiBold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family:"Flat";
    src: url("../fonts/Flatform_Light.otf") format("opentype");
}

body
{
    /*background: linear-gradient( #ff6e74,#bfe9ff); /* Standard syntax */
    /*background: linear-gradient( #ffb88c,#de6262); /* Standard syntax */
   /* background: linear-gradient(var(--warm-sun),#1E2121); /* Standard syntax */
    background: linear-gradient(#FBFABB,#FBFABB, #00467f); /* Standard syntax */
    font-family: "Flat", Times, serif;
    font-size: 10px;
}


h1,h2,h3,h4,h5,h6
{
    font-family: "MohaveBold", Times, serif;
    cursor: default;
}

.content-display
{
    display: inline-grid;
}

.content-display-grid
{
    display: grid!important;
}

.social-twit-col
{
    background-color:  #56ABEE;
}

.social-linked-col
{
    background-color:  #097BB4;
}

.social-git-col
{
    background-color:  #464646;
}


.f-c-black
{
    color: #403232!important;
}


.f-c-white
{
    color: #ffffff!important;
}

.f-c-o
{
    color: #FF8966!important;
}

.blue
{
    background-color: #1976d2 ;
}

.red
{
    background-color:  #ef0005!important;
}

.ultra-red-theme:hover
{
    background-color:#0043c3;
}

.ultra-gray
{
    background-color:#333333;
}

.ultra-red-theme
{
    color:#ccc;
    background-color:#e50011;
}

.ultra-red-theme:visited
{ 
    background-color:#e50011;
}

.white
{
    background-color: #ffffff;
}
.green
{
    background-color: #81c784;
}

.cream
{
    background-color: #eaeaea;
}
.yellow
{
    background-color: #fdd835;
}

.dark
{
    background-color: #1E2121;
}

.no-color
{
    background-color: transparent;
}


html
{
    line-height: 1.0;
}


.cursor-select
{
    cursor: pointer;
}

.c
{
    display: table;
    margin: 0 auto;
}

.z-ind-2
{
    z-index: 2;
}

.z-ind--2
{
    z-index: -2;
}

.neg-margin-top-31
{
    margin-top: -31px;
}

.abs
{
    position: absolute;
}

.flex-grow-1
{
    flex-grow: 1!important;
}

.display-flex
{
    display: flex;
}

.width-clamp-95
{
    width: 95%!important;
}

.width-clamp-100
{
    width: 100%!important;
}

.min-h-595
{
    min-height: 595px;
}

.width-clamp-800
{
    max-width: 800px;
}

.height-clamp-60
{
    width: 60%;
}


.height-clamp-85vh
{
    height: 85vh!important;
}

.m-bottom-100
{
    margin-bottom: 100px;
}

.min-h-5
{
    min-height: 5px!important;
}

.float-l
{
    float: left;
}

.float-r
{
    float: right;
}
.splash-argo-f
{
    font-family: "Argo", Times, serif;
    font-size: 85px;
}

.border-rounded
{
    background-color:#56ABEE;
    border: 2px #56ABEE;
    border-radius: 15px;
    display: inline-block;
}
.back-drop-blur
{
background-color: #FFFFFF;
margin: 0 auto;
margin-top: 30px;
padding: 10px;
padding-bottom: 20px;
border-radius: 5px;
}

.back-drop-blur:after
{
    opacity: 0.7;
    filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
}

.b-r-10
{
    border-radius: 10px;
}
.auto-min-h
{
    min-height: auto!important;
}

.position-b
{
    height: 35vh;
}

.exclude-h
{
    height: 100vh!important;
}
.splash-background
{
    background-image: url("../img/Creative_Engineering2.JPG");
    filter: grayscale(35%);
    background-repeat: no-repeat;
    background-size: 225vh;
    background-position-x: -100px;
}

.d-grid
{
    display: grid;
}

.main
{
    float: right;
    width: 70%!important;   
    font-size: 17px;
}

.m-t-45
{
    margin-top:  45px;
}

.img-clamp
{
    max-width: 288px;
    max-height: 215px;
    min-width: 288px;
    min-height: 215px;
}

.m-t-130
{
    margin-top: 130px
}

.m-t-75
{
    margin-top: 75px;
}

.m-t-20
{
    margin-top: 20px;
}

.margin-b-15
{
    margin-bottom: 15px!important;
}

.m-t-10
{
    margin-top: 20px;
}


.m-t-22_5
{
    margin-top: 22.5px;
}

.m-t-l-15
{
    margin-top: 15px;
    margin-left: 15px;
}

.m-1
{
    margin: 1px!important;
}
.b-r-50
{
    border-radius: 50px;
}

.side
{
    display: inline;
}

.width-clamp 
{
    max-width: 80%!important;
}

.width-clamp-85
{
    width: 85%;
    max-width: 85%;
}

.border-rad-20
{
    border-radius: 20px;
}

.padding-1
{
    padding: 1px!Important;
}

.padding-15
{
    padding: 15px;
}

.padding-10
{
    padding: 10px;
}

.padding-5
{
    padding: 5px;
}

.padding-6
{
    padding: 6px!important;
}

.padding-t-b-10
{
    padding-bottom: 10px;
    padding-top: 10px;
}

.custom-min-h
{
    min-height: 322px;
}

.width-100
{
    width: 100px!important;
}

.card-overide
{
    padding:5px!important;
    max-height: 260px;
    min-height: 260px;
}


.card-p
{
    background-color:#fafafa;
    border: 2px #ff8a65;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
    margin: 3px!important;
    font-size: small;
}


  .img-blur-overide
  {
    height: 432px;
    /* top: 120%; */
    margin-top: 6px;
    margin-bottom: 50px;
    background: hsla(0, 0%, 80%, -4);
    width: 78%;
  }

  .carousel.carousel-slider .carousel-item 
  {
    width: 100%;
    height: 96%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .indicators
{
    bottom: 45px!important;
}

img.size
{
    max-width: 200px;
}

.h-100vh
{
    height: 100vh;
}

.h-overwrite-500
{
    height: 600px!important;
}

.t-align-c
{
    text-align: center;
}

.t-align-r
{
    text-align: right;
}

.t-align-l
{
    text-align: left;
}

.margin-a
{
    margin: auto;
}

.m-t-7
{
    margin-top: 7px;
}

.m-t-20
{
    margin-top: 20px;
}

.m-t-15
{
    margin-top: 15px;
}

.m-t-neg-5
{
    margin-top: -5px;
}

.m-t-64
{
    margin-top: 64px;
}


.m-r-40
{
    margin-right: 40px;
}

.m-l-a
{
    margin-left: auto!important;
}

.no-b-margin
{
    margin-bottom: 0px;
}

.no-l-margin
{
    margin-left: 0px!important;
}

.neg-b-margin-13
{
    margin-bottom: -13px;
}

.no-padding-t-b
{
    padding-top: 0;
    padding-bottom: 0;
}

.pad-t-20
{
    padding-top: 25px;
}

.tabs
{
    height: auto;
}

.tabs .tab
{
    line-height: 52px!important;
    height: 41px;
}

.font-size
{
    font-size: 25px;
}

.font-Upper
{
    text-transform: uppercase;
}

.ul-grid
{
    height: 73px;
}

.tabs .indicator
{
    height: 9px !important;
    background-color:#5E6953 !important;
    left: 336px;
    bottom: -3px;
}


.h-banner
{
    padding: 6px;
    margin-bottom: -1px;
    margin-left: 20px;
    margin-top: 9px;
}

.h-banner-row
{
    padding: 5px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.orange
{
    background-color: #ff8a65!Important;
}

.peach
{
    background-color:#ff7266!Important;
}

.warm-sun
{
    background-color:#e6bd61!Important
}


.gray
{
    background-color: #90a4ae;
}

.trans
{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
}

.not-visible
{
    display: none;
}

.i-abs-left
{
    position: absolute;
    top: 135vh;
    z-index: 20000;
    pointer-events: none;
}
.i-abs-right
{
    position: absolute;
    top: 135vh;
    left: auto;
    right: 0%;
    z-index: 20000;
    pointer-events: none;
}

.i-size
{
    font-size: 50px!important;
}

.footer-body {
    display: flex;
    min-height: 5vh;
    flex-direction: column;
  }

.footer-main 
{
    flex: 1 0 auto;
}

.f-size-17
{
    font-size: 17px;
}

.centre
{
    margin: auto;
    text-align: center;
}

.btn-block
{
    float: left;
    display: block;
}

.absolute
{
    position: absolute;
}

.fixed
{
    position: fixed;
    right: 0%;
    top: auto;
}

.defualt
{
    cursor: default;
    user-select: none;
}
.w-90
{
    width: 90%;
}

.w-100
{
    width: 100%;
}
.z-100
{
    z-index: 100;
}
.w-95-h-92
{
    width: 95%!important;
    height: 92%!important;
}
.w-96-h-93
{
    width: 97%!important;
    height: 95%!important;
}

.wh-85
{
    width: 81%;
    height: 83%;
}


.l-5
{
    left: 5%;
}


@media (max-width: 600px)
{

    .row .col.s5,
    .row .col.s7
    {
        width: auto;
        float: none;
    }
    .btn, .btn-large, .btn-flat
    {
        padding: 0px 1rem;
    }
    .button-text-margin
    {
        margin-top: 15px
    }
    .btn-display
    {
        height: 300px;
        display: grid;
    }

    .a-height
    {
        height: 60%;
        margin: auto;
    }

    .height-clamp-85vh
    {
        height: 90vh!important;
    }
    .m-b-7
    {
        margin-bottom: 45px!important
    }
    

    .col.s12
    {
        height: 100%;
    }

    .grid-mode
    {
        display: grid;
        width: 100%;
    }

    .main,
    .side
    {
        float: none;
    }

    .tabs.tabs-transparent .indicator
    {
        display: none;
    }

    .h-banner-row h2
    {
    text-align: center!important;
    }

    .h-banner
    {
        overflow-x: hidden;
        overflow-y: hidden;
        
    }
    .tabs .tab
    {
        height: 46px;
        line-height: 58px!important;
        padding-top: 0px;
    }

    .ul-grid
    {
        text-align: center!important;
        overflow-x: hidden;
        height: 232px;
    }
    .neg-margin-top-31
    {
        margin-top: -31px;
    }

    .main
    {
        display: inline;
        text-align: center;
        width:75%;
    }

    .position-b 
    {
        height: 22vh;
    }
}


@media (max-width: 830px)
{
    .col.s12
    {
        height: 100%;
    }

    .main,
    .side
    {
        float: none;
    }

    .main
    {
        display: inline;
        text-align: center;
        width:75%;
    }
}